#home-info {
    min-height: 70vh;
    background: black;
}

#home-info img{
    width: 500px;
    padding-top: 30px;
    padding-bottom: 0px;
}

#home-info .img{
    align-self: center;
}

.text{
  
			letter-spacing: 2px;
      font-size: 30px;
      font-weight: 700;
      color:  rgb(208, 26, 240);
			width: 68%;
     white-space: nowrap;
			overflow: hidden;
			animation:
				typing 4s steps(30),
				cursor .6s step-end infinite alternate;
		}
		/* cursor blinking */ 
		@keyframes cursor {
			50% { border-color: transparent }
			
		}
		/* typing effect */
		@keyframes typing {
			from { width: 0}
			
		}
 

.alex{
  color: rgb(208, 26, 240);
}
.btn {
  padding: 10px 20px;
  transition: all 0.4s ease;
  font-weight: 800;
  border-radius: 0;
}

.btn-brand {
 background: linear-gradient(to bottom, hsla(293, 78%, 58%, 0.829), rgba(243, 178, 227, 0.884));
 border-radius: 35px;
}

.btn-brand:hover {
  background: #4e184e;;
  color: white;
 
}
.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.social-icons a {
  display: inline-block;
  margin: 0 10px;
  color: #fff;
}

.social-icons a:hover {
  opacity: 0.8;
}

.social-icon {
  width: 30px;
  height: 30px;
  fill: currentColor;
}
.btns{
  margin-left: 300px;
  margin-top: 2000px;

}
